@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.helpContent {
  flex-grow: 1;
  padding: 16px;
  padding-top: 0;
  overflow-y: auto;

  @media (max-width: 768px) {
    padding: 8px;
    padding-top: 0;
  }
}

.paper {
  padding: 24px;
  border-radius: 24px;
  min-height: 100%;
  background-color: var(--background-paper);

  @media (max-width: 768px) {
    padding: 16px;
    border-radius: 16px;
  }
}

.accordion {
  margin-bottom: 16px;

  @media (max-width: 768px) {
    margin-bottom: 12px;
  }
}

.accordionDetails {
  padding: 16px;

  @media (max-width: 768px) {
    padding: 12px;
  }
}

.listItem {
  padding: 8px 0;

  @media (max-width: 480px) {
    padding: 6px 0;
  }
}
